@font-face {
  font-family: 'Shojumaru';
  font-style: normal;
  font-weight: 400;
  src: local('Shojumaru'), local('Shojumaru-Regular'), url(./pYVcIM206l3F7GUKEvtB3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
