@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(./_tMhxyW6i8lbI7YsUdFlGA.eot);
  src: local('Ubuntu'), url(./_tMhxyW6i8lbI7YsUdFlGA.eot) format('embedded-opentype'), url(./_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
